
body {
background:url(fondo.jpg);
padding: 50px;
}

.header {
    grid-template-columns: 1fr 1fr;
    margin:auto;
    width: 100%;
    height: 100px;
    background: #320709;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.header h1{
    font-size: 50px;
    color:white;
    display: block;
    font-family: sans-serif;
  
}
.container{

    background: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  
}

.form{
    
    margin :50px;
    width: 35%;
    background:black;
    font-family: sans-serif;
    display: flex;
   
    padding: 20px 30px;
    color:white;
    
}


.form form h1{
    text-align: center;
}
.form form{
    width: 100%;
}
.form form label{
    font-family: sans-serif;
    font-size:20px;
    display: block;
   
    padding: 5px;
    
    
}
.form form input{
    width:100%;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 16px;    
    
}
.form input[type="submit"] {
    border: none;
    outline: none;
    margin-top: 5px;
    height: 40px;
    background: #3788AF ;
    color: #fff;
    width: 100%;
    display:block;
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
}
.form input[type="submit"]:hover {
    cursor: pointer;
    background: #b80f22;
    color: #000;
    display:block;
   
   
}
.form a {
    text-decoration: none;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: darkgrey;
    display:block;
}
.form a:hover {
    color: #fff;
}


.footer {
    width: 100%;
    margin: 0;
    padding: 0;
    background:#320709;
    height: 100px;
    display: flex;
    
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
   
}
.footer label{
    font-family:sans-serif;
    font-size: 25px;
    color:white;
    text-align: center;
    display: block;
}